<ion-header>
  <ion-toolbar class="azul">
    <ion-title>¡Bienvenid@!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-img src="assets/images/login.svg"></ion-img>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="modeloUsuario"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="modeloContrasena"></ion-input>
    </ion-item>

    <ion-button (click)="validarCredenciales()" class="ion-margin-top azul" expand="block">Ingresar
    </ion-button>

</ion-content>
